<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>io.github.hiking90.inputmethod.Ongeul</string>

    <key>CFBundleName</key>
    <string>Ongeul</string>

    <key>CFBundleDisplayName</key>
    <string>Ongeul</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>ko</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>

    <key>CFBundleIconFile</key>
    <string>AppIcon</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleExecutable</key>
    <string>Ongeul</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <key>LSBackgroundOnly</key>
    <true/>

    <key>InputMethodConnectionName</key>
    <string>io.github.hiking90.inputmethod.Ongeul_Connection</string>

    <key>InputMethodServerControllerClass</key>
    <string>Ongeul.OngeulInputController</string>

    <key>InputMethodServerDelegateClass</key>
    <string>Ongeul.OngeulInputController</string>

    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>io.github.hiking90.inputmethod.Ongeul</key>
            <dict>
                <key>TISIntendedLanguage</key>
                <string>ko</string>
                <key>TISInputSourceID</key>
                <string>io.github.hiking90.inputmethod.Ongeul</string>
                <key>tsInputModeMenuIconFileKey</key>
                <string>icon_menubar.tiff</string>
                <key>tsInputModeAlternateMenuIconFileKey</key>
                <string>icon_ko.tiff</string>
                <key>tsInputModePaletteIconFileKey</key>
                <string>icon_ko.tiff</string>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smKorean</string>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>TISIconIsTemplate</key>
                <true/>
            </dict>
        </dict>
        <key>tsVisibleInputModeOrderedArrayKey</key>
        <array>
            <string>io.github.hiking90.inputmethod.Ongeul</string>
        </array>
    </dict>

    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Hang</string>
        <string>Latn</string>
    </array>

    <key>tsInputMethodIconFileKey</key>
    <string>icon_ko.tiff</string>

    <key>TISIconIsTemplate</key>
    <true/>

    <key>TISIconLabels</key>
    <dict>
        <key>Primary</key>
        <string>온</string>
    </dict>

</dict>
</plist>
